body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Swis771LtBT";
  src: local("Swis771LtBT"),
  url("./fonts/Swis721_Lt_BT/Swiss721LightBT.ttf") format("truetype");
}

@font-face {
  font-family: "Swis771Lt";
  src: local("Swis771LtBT"),
  url("./fonts/Swis721_Lt_BT/Sw721Lt.ttf") format("truetype");
}
